.bg-orange {
  background-color: #111;
}

.front {
  grid-area: 1/1;
  color: #ace9b0;
}

button {
  cursor: pointer;
  outline: none;
}

.button {
  display: inline-block;
  background-color: var(--gray);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: none;
  padding: 24px 72px;
  font-family: 'HK-Grotesk-Bold', sans-serif;
}

.button:target {
  background-color: #ace9b0;
  color: #111;
}

.button-small {
  font-size: 14px;
  padding: 12px 20px;
}

.button-outline {
  background-color:transparent;
  border: solid 2px var(--orange);
  color: var(--gray);
}

.register-button {
  position: relative;
}

.register-button:hover {
  color: var(--orange);
}

.register-button::after {
  background-color: var(--orange);
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scaleX(1);
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  transform-origin: right;
}

.register-button:hover::after {
  transform: scaleX(0);
}



