/* we declare our variable inside a :root selector */
:root {
  /* give the variable a name and value (needs two -- in front) */
  --orange: #ace9b0;
  --gold: #f6aa3d;
  --gray: #111;
}


body {
  font-family: 'HK-Grotesk-Medium', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #414141;
  
  background-image: url(../images/background_2.jpg);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #ace9b0;
}

.heading {
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  font-family: 'HK-Grotesk-Bold', sans-serif;
  font-size: 110px;
  line-height: 1;
}

.heading-orange {
  font-size: 120px;
  -webkit-text-stroke-color: var(--orange);
  margin-bottom: 3rem;
  color: var(--orange);
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

blockquote {
  color: var(--orange);
  font-size: 36px;
}

.cite {
  display: inline-block;
  color: var(--orange);
  line-height: 1;
  padding: 24px 18px;
  border-radius: 100%;
  border: solid 3px var(--orange);
  text-transform: uppercase;
  margin-top: 12px;
}

.speaker-image {
  display: block;
  margin-bottom: 12px;
}

.speaker-name,
.speaker-title {
  margin: 0;
  line-height: 1.33;
}

.speaker-title {
  color: #979797;
  font-family: 'HK-Grotesk-Regular', sans-serif;
}

.schedule-container {
  border: solid 3px var(--orange);
	/* this gives us natural scrolling behaviour on touch screens */
  -webkit-overflow-scrolling: touch;
}

.schedule-container::-webkit-scrollbar {
  width: 12px;
  height: 14px;
  background-color: transparent;
}

.schedule-container::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border: solid 2px #fff;
}

.schedule {
  padding: 48px 24px;
}

.schedule-time {
  color: var(--orange);
  font-size: 36px;
  font-family: 'HK-Grotesk-Bold', sans-serif;
  line-height: 1;
  margin-bottom: 8px;
}

.schedule-day {
	/* languages like japanese sometimes have a vertical writing style */
  writing-mode: vertical-rl;
	/* we can change the text orientation to sideways */
  text-orientation: sideways;
	/* then we rotate the text to flip it over */
  transform: rotate(180deg);
  padding: 24px;
  color: #fff;
  line-height: 1;
  background-color: var(--orange);
  text-align: center;
}

.footer {
  background-color: #111;
}

.footer-link {
  width: 20vw;
  height: 40px;
  background-image: url('../images/logo_2.svg');
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1;
}

#tickets h1 {
  display: inline;
  margin-right: -30px;
}

.underline {
  position: relative;
  text-decoration: none;
}

.underline::after {
  background-color: #111;
  content: ' ';
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  left: 0;
  bottom:-2px;
  width: calc(100% + 0px);
  transform: scaleX(0);
  transform-origin: 0% 0%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

}
.underline:hover::after {
  transform: scaleX(1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media (max-width: 800px) {
  body {
    font-size: 16px;
    background-size: auto 120vh;
  }
  .heading {
    font-size: 72px;
    -webkit-text-stroke-width: 2px;
  }
  .button {
    padding: 18px 32px;
    font-size: 16px;
  }
  .heading-orange {
    margin-bottom: 24px;
  }
  blockquote {
    line-height: 1.2;
  }
  .schedule-day {
    padding: 12px;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 48px;
    -webkit-text-stroke-width: 1px;
  }
}

@media screen and (min-width: 30em) {
  #details {
    margin-top: 25rem;
  }
}

@media screen and (max-width: 800px) {
  #details {
    margin-top: 4rem;
  }

  #tickets h1 {
    display: inline;
    margin-right: -20px;
  }
}

@media screen and (max-width: 500px) {
  .tickets-section {
    width: 100% !important;

  }
}






